                {{> header
                    title="Media gallery"
                    media-url="/img/front.jpg"
                }}
                
                <primary-content>
                    <content-chunks>
                        <section class="content-chunk">
                            <chunk-text>
                                <p>This page contains images of The Pioneers in action across numerous seasons of the VEX Robotics Competition!</p>
                                <p>Click on a gallery image to access it in higher resolution.</p>

                                <noscript><p>JavaScript is required to access filters and to view more images.</p></noscript>

                                {{> team-filters}}

                                <gallery-grid class="js-required"></gallery-grid>

                                <noscript>
                                    <gallery-grid>
                                        {{#each autoLoadImages}}
                                        <gallery-item>
                                            <a href="../img/gallery/{{this.image_url}}" target="_blank">
                                                <img src="./thumb/{{this.image_url}}" />
                                            </a>
                                        </gallery-item>
                                        {{/each}}
                                    </gallery-grid>
                                </noscript>

                                <paginator- class="js-required">
                                    <navigation-button class="arrow-left-end"></navigation-button>
                                    <navigation-button class="arrow-left"></navigation-button>

                                    <paginator-display>
                                        <paginator-counter>
                                            <input type="text" placeholder="1" />
                                        </paginator-counter>
                                        /
                                        <paginator-number-max></paginator-number-max>
                                    </paginator-display>

                                    <navigation-button class="arrow-right"></navigation-button>
                                    <navigation-button class="arrow-right-end"></navigation-button>
                                </paginator->
                            </chunk-text>
                        </section>
                    </content-chunks>
                </primary-content>

                <script src="{{root-link "/js/gallery.js"}}" type="module"></script>